.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.direnv/
.cursor/
.idea/
.specstory/
.venv/
/dependencies/
broadcast/
cache/
coverage/
node_modules/
reports/
out/
docs/*
!docs/*.md
!docs/.gitignore

.secrets
.env
.envrc
.DS_Store
ci/contract_addresses.txt
lcov.info
gasreport.txt
output.json
package.tgz

# Private/temporary files - do not commit
_*.md
